---
---

// @import "{{ site.theme }}";

html {
  background: #002E5D;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: lighter;
  line-height: 1.4;
  color: #414142;
  padding: 60px 0;
}

a, a:link, a:visited, a:hover, a:active, a.activeLink {
  color: #414142;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  background: white;
}

topmenu {
  background: #002E5D;
  color: #ccc;
  margin: 0 auto;
}

topmenu > ul {
  background: inherit;
  margin: 0 0 2px;
  text-align: right;
}

topmenu > ul > li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

topmenu > ul > li > a:link, 
topmenu > ul > li > a:visited {
  color: #ccc;
  text-decoration: none;
}

topmenu > ul > li > a:hover, 
topmenu > ul > li > a:active, 
topmenu > ul > li > a.activeLink {
  color: white;
  text-decoration: none;
}

img.logo {
  height: 90px;
  position: absolute;
  margin: auto;
  display: block;
  top: 80px;
  left: 0;
  right: 0;
}


img.portrait {
  position: absolute;
  margin: auto;
  display: block;
  top: -55px;
  left: 0;
  right: -160px;
}

header {
  text-align: center;
  background: white;
}

header > h1 {
  font-size: 1.5em;
  color: #002E5D;
  margin: 14px 0 2px 0;
}

header > h2 {
  font: inherit;
  margin: 2px 0 28px 0;
}

menu {
  background: #6D6F71;
  margin: 0;
  color: white;
  text-align: center;
  height: 26px;
  display : flex;
  align-items : center;
  justify-content: center;
}

menu > ul {
  padding: 0;
}

menu > ul > li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  vertical-align: middle;
}

menu > ul > li > a:link, 
menu > ul > li > a:visited {
  color: white;
  text-decoration: none;
}

menu > ul > li > a:hover, 
menu > ul > li > a:active, 
menu > ul > li > a.activeLink {
  color: #002E5D;
  text-decoration: none;
}

section {
  padding: 55px 160px;
  position: relative;
  display: block;
  margin: 0 auto;
  vertical-align:top;
}

footer {
  padding: 2px 0 0 0;
  margin: 0;
  background: #6D6F71;
  text-align: center;
  font: 10px Helvetica, Arial, sans-serif;
  color: white;
  height: 26px;
  display : flex;
  align-items : center;
  justify-content: center;
}

footer > ul {
  padding: 0;
  margin: auto;
}

footer > ul > li {
  list-style-type: none;
  display: inline;
}

footer > ul > li > a,
footer > ul > li > a:link, 
footer > ul > li > a:visited,
footer > ul > li > a:hover, 
footer > ul > li > a:active, 
footer > ul > li > a.activeLink {
  color: white;
}

footer > ul > li + li:before {
  content: " | ";
  margin: 0 10px;
}
