---
---

// @import "{{ site.theme }}";

html {
  background: #002E5D;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: lighter;
  line-height: 1.4;
  color: #414142;
  padding: 60px 0;
}

img.logo {
  height: 90px;
  position: absolute;
  margin: auto;
  display: block;
  top: 80px;
  left: 0;
  right: 0;
}

header {
  text-align: center;
  background: white;
}

header > h1 {
  font-size: 1.5em;
  color: #002E5D;
}

header > h2 {
  font: inherit;
}

.top-menu {
  width: 860px;
  color: #ccc;
  margin: 0 auto;
}

.top-menu > ul {
  margin: 0 0 2px;
  text-align: right;
}

.top-menu > ul > li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

.menu {
  background: #6D6F71;
  color: white;
  text-align: center;
  height: 26px;
}

.menu > ul {
  padding: 0;
}

.menu > ul > li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  vertical-align: middle;
}

.menu > ul > li > a:link, a:visited {
  color: white;
}

.menu > ul > li > a:hover, a:active, a.activeLink {
  color: #002E5D;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  background: white;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  border-radius: 0 0 0 0;
}

section {
  width: 540px;
  padding: 55px 30px;
  position: relative;
  display: block;
  margin: 0 auto;
}

section {
  border-radius: 0 0 0 0; 
}

footer {
  width: 860px;
  padding: 2px 0 0 0;
  background: #6D6F71;
  border-radius: 0 0 0 0;
  text-align: center;
  font: 10px Helvetica, Arial, sans-serif;
  color: white;
  height: 26px;
}

footer > ul {
  padding: 0;
  margin: 0px;
}

footer > ul > li {
  list-style-type: none;
  display: inline;
  vertical-align: middle;
}


footer > ul > li > a {
  text-decoration: underline;
  color: white;
}

footer > ul > li + li:before {
  content: " | ";
}
